.search-input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(199, 194, 194);
    margin-right: 1rem;
    border-radius: 22px;
    width: 300px;
    padding: 6px;
    padding-left: 12px;
}
.descubrir-icon{
    margin: 3px;
    margin-right: 14px;
}