
.descubrir-titulo{
    margin-top: 3rem;
    font-family: inherit;
}

.feed-descrubrir{
    background-color: rgb(223, 223, 223);
    padding: 12px;
    border-radius: 30px;
}
.div-input{
    position: fixed;
    background-color: white;
    top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 53px;
}