:root{
  --bg-dark: black;
  --bg-secondary-color: rgb(73, 86, 83 );
  --main-color: rgb(29, 161, 242);
  --secondary-color: rgb(171, 223, 255);

/*FONTS*/
  --font-light:white;
  --font-dark:black;
  --poppins:"Poppins";
  --weight: 400;

/*BUTTONS*/
  --hiperlinkbutton-bg-dark:black;
  --hiperlinkbutton-font-dark:white;
  --hiper-font-style: normal;
  --button-height: 50px;
  --iconbutton-hover:  rgb(5, 65, 102);
  --iconbutton-radius: 50px;
  --padding: 20px;
 
}

